# **Data Wrangling and Data Visualization (Part 2)**

## _Programming Assignment 4.1.B_

#### Access the Pandas Library using the import convention

In [6]:
import pandas as pd

***

## <b> ECE Board Exam Problem <b>

#### Using data wrangling and data visualization technique with storytelling, analyze the data and present the following using data given:

#### Dataset _(excel file of "ECE Board Exam 2")_:

In [12]:
# Extract the data from the file and store it to variable "df"

df = pd.read_excel('board2.xlsx')
df

,Name,Gender,Track,Hometown,Math,Electronics,GEAS,Communication
0,S1,Male,Instrumentation,Luzon,58,89,75,78
1,S2,Female,Communication,Mindanao,52,75,90,52
2,S3,Female,Instrumentation,Mindanao,83,74,77,57
3,S4,Male,Instrumentation,Visayas,65,58,91,68
4,S5,Male,Communication,Luzon,59,86,43,88
5,S6,Female,Microelectronics,Visayas,88,45,86,83
6,S7,Female,Instrumentation,Luzon,66,60,60,48
7,S8,Male,Instrumentation,Luzon,49,81,64,53
8,S9,Male,Instrumentation,Luzon,50,36,63,42
9,S10,Male,Microelectronics,Mindanao,80,84,61,44
10,S11,Female,Communication,Visayas,48,56,48,67
11,S12,Male,Communication,Visayas,89,67,84,64
12,S13,Female,Microelectronics,Luzon,88,35,83,43
13,S14,Female,Microelectronics,Luzon,83,77,89,73
14,S15,Female,Microelectronics,Mindanao,69,41,40,86
15,S16,Female,Communication,Luzon,71,70,87,81
16,S17,Female,Microelectronics,Mindanao,81,79,77,45
17,S18,Male,Communication,Visayas,81,40,81,52
18,S19,Male,Microelectronics,Luzon,79,63,79,71
19,S20,Female,Communication,Mindanao,59,60,62,85
20,S21,Female,Microelectronics,Visayas,83,51,68,72
21,S22,Female,Communication,Visayas,64,39,89,58
22,S23,Male,Instrumentation,Luzon,84,70,74,47
23,S24,Female,Microelectronics,Visayas,85,45,60,41
24,S25,Male,Communication,Luzon,74,91,94,42
25,S26,Female,Instrumentation,Visayas,71,47,83,62
26,S27,Male,Microelectronics,Visayas,70,47,40,86
27,S28,Male,Communication,Visayas,85,53,80,53
28,S29,Male,Instrumentation,Mindanao,73,48,71,62
29,S30,Male,Instrumentation,Luzon,78,81,57,56

***

## I. Data Frames

### Create the following data frames based on the format provided:

### <b> Problem 1.B. </b> &nbsp; Filename: Mindy = [ “Name”, “Track”, “Electronics”, “Average >=55”]; where hometown is constant as Mindanao and gender Female

In [18]:
# Add a column named 'Average' which contains the avarage of the 4 subjects per student
df['Average'] = (df.Math + df.Electronics + df.GEAS + df.Communication)/4
df

,Name,Gender,Track,Hometown,Math,Electronics,GEAS,Communication,Average
0,S1,Male,Instrumentation,Luzon,58,89,75,78,75.00
1,S2,Female,Communication,Mindanao,52,75,90,52,67.25
2,S3,Female,Instrumentation,Mindanao,83,74,77,57,72.75
3,S4,Male,Instrumentation,Visayas,65,58,91,68,70.50
4,S5,Male,Communication,Luzon,59,86,43,88,69.00
5,S6,Female,Microelectronics,Visayas,88,45,86,83,75.50
6,S7,Female,Instrumentation,Luzon,66,60,60,48,58.50
7,S8,Male,Instrumentation,Luzon,49,81,64,53,61.75
8,S9,Male,Instrumentation,Luzon,50,36,63,42,47.75
9,S10,Male,Microelectronics,Mindanao,80,84,61,44,67.25
10,S11,Female,Communication,Visayas,48,56,48,67,54.75
11,S12,Male,Communication,Visayas,89,67,84,64,76.00
12,S13,Female,Microelectronics,Luzon,88,35,83,43,62.25
13,S14,Female,Microelectronics,Luzon,83,77,89,73,80.50
14,S15,Female,Microelectronics,Mindanao,69,41,40,86,59.00
15,S16,Female,Communication,Luzon,71,70,87,81,77.25
16,S17,Female,Microelectronics,Mindanao,81,79,77,45,70.50
17,S18,Male,Communication,Visayas,81,40,81,52,63.50
18,S19,Male,Microelectronics,Luzon,79,63,79,71,73.00
19,S20,Female,Communication,Mindanao,59,60,62,85,66.50
20,S21,Female,Microelectronics,Visayas,83,51,68,72,68.50
21,S22,Female,Communication,Visayas,64,39,89,58,62.50
22,S23,Male,Instrumentation,Luzon,84,70,74,47,68.75
23,S24,Female,Microelectronics,Visayas,85,45,60,41,57.75
24,S25,Male,Communication,Luzon,74,91,94,42,75.25
25,S26,Female,Instrumentation,Visayas,71,47,83,62,65.75
26,S27,Male,Microelectronics,Visayas,70,47,40,86,60.75
27,S28,Male,Communication,Visayas,85,53,80,53,67.75
28,S29,Male,Instrumentation,Mindanao,73,48,71,62,63.50
29,S30,Male,Instrumentation,Luzon,78,81,57,56,68.00

In [20]:
# Filtering
Mindy = df.loc[(df['Hometown'] == 'Mindanao') & 
               (df['Gender'] == 'Female') &
               (df['Average'] >= 55 ), ['Name', 'Track', 'Electronics', 'Average']]
Mindy

   Name             Track  Electronics  Average
1    S2     Communication           75    67.25
2    S3   Instrumentation           74    72.75
14  S15  Microelectronics           41    59.00
16  S17  Microelectronics           79    70.50
19  S20     Communication           60    66.50